@import url('css/textstyle.css'); /* external file with font and text styling*/
@import url('css/flex-utility.css'); /*external file with flexbox utility */


/*colori & background */
.white{
    color:#ffffff;
}
.red{
    color:#EC1F46;
}
.grey{
    color:#333333;
}
.bg_blue{
    background-color: #0A223D;
}
.bg_red{
    background-color:#EC1F46;
}
.bg_white{
    background-color:#ffffff;
}
.bg_liteblue{
    background-color:#f5fafe;
}

/*others */
.rounded-10{
    border-radius:10px;
}
.rounded{
    border-radius:5px;
}
.fullpage{
    width:100%;
}
.midpage{
    width:1105px;
}
.noborder{
    border:none;
}
.breakline{
    border:none;
    border-top:1px dotted lightgray;
    height:1px;

}
/*utility classes*/
.navtop_txt{     
    width:500px;
    height:13px;
}
.social_icon{
    width:20px;
    height:20px;
}
.gift_img{
    width:18px;
    height:18px;
}
.gift_txt{
    margin-left:10px;
    line-height:13px;
}
.star_img{
    width:18px;
    height:18px;
}
.loyality_txt{  
    margin-left:10px;
    line-height: 13px;    
}
.navbar_txt{  
    width:177px;
    height:24px;
}
.search_bar{
    margin-left:108px;
    width: 350px;
    height: 40px;
}
.find_bar{
    width:285px;
    height:40px;
}
.find_btn{
    width:65px;
    height:40px;
}
.cart_icon{
    margin-left:238px;
    width:34px;
    height:34px;
}
.profile_box{
    margin-left:53px;
    width:150px;
    height:40px;
}
.profile_img{
    width:40px;
    height:40px;
}
.profile_name{   
    margin-left:18px;
    width:49px;
    height:18px;
}
.arrow_icon{
    margin-left:19px;
    width:24px;
    height:24px;
}
.breadcumb{  
    height:50px;
}
.starred{
    width:48px;
    height:8px;
}
.flash_btn{
    margin-left:14px;
}
.beach{
    width:728px;
    height:450px;
}
.booking{
    margin-left:25px;
    width:350px;
    height:210px;
}
.booking_line1{
    margin-top:29px;
    width:295px;
    height:59px;
}
.price_box{   
    width:86px;
    height:59px;
}
.call_center{  
    width:295px;
    height:25px;
    margin-top:9px;  
}
.person_room{
    width:80px;
    height:40px;
    margin-left:129px;
}
.view_btn{
    width:295px;
    height:45px;
    margin-top:18px;
}
.maps{
    margin-top:25px;
    margin-left:25px;
    width:347px;
    height:213px;
}
.cards_menu{ 
    margin-top: 67px;
    height:36px;
}
.cards_menu a{
    text-decoration:none;
    color:#333333;
    border-bottom:3px red solid;
}
.package_summary{
    height:842px;
    margin-top:40px;
}
.box{
    width:538px;
    height:200px;
}
.taitol{
    height:50px;
    font-weight: bold;
}
.list{
    width:220px;
    margin:22px 35px 24px 0px;
    list-style-image:url('images/circle.svg');
    flex-wrap: wrap;
    font-size:12px;
}
.lista{
    list-style: none;
}
.lista>li{
    margin:5px; 
}
.tripAdv{
    width:366px;
    height:500px;
    background-image: url('images/image.png');
}
.beach_mini{
    width:350px;
    height:250px;
    background-image:url('images/minibeach.png');
}
.white_palace{
    width:350px;
    height:250px;
    background-image:url('images/white_palace.png');
}
.fivestar{
    width:350px;
    height:250px;
    background-image: url('images/fivestar.png');
}
.luxury{
    width:350px;
    height:250px;
    background-image:url('images/luxury.png');
}
.newsletter{
    width:100%;
    height:200px;
    background-image: url('images/backgrnd.png');
}
.news_card{
    width:255px;
    height:255px;
}
.square1{
    background-image: url('images/square_1.png');
}
.square2{
    background-image:url('images/square_2.png');
}
.square3{
    background-image:url('images/square_3.png');
}
.square4{
    background-image:url('images/square_4.png');
}
